* {
    font-family: "Outfit", sans-serif;
}

header {
    width: auto;
    height: 70px;
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0;
    padding: 0;
    /*display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    background-color: rgb(211, 210, 210);
}


/* Título Header */

h1 {
    margin-left: 15px;
    font-size: 18px;
    align-self: center;
}

/* Navegação */

nav {
    margin-top: 10px;
    margin-right: 5px;
}

/*Lista do menu */

nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* Container */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap:10px;
}

.card {
    margin-top: 10px;
    flex: 1 1 280px;
    max-width: 320px;
    height: auto;
    background-color: white;
    border: solid 1px #a1a1a1;
    border-radius: 25px;
    text-align: center;
    box-shadow: #918f8f 1px 1px 1px 1px;
    overflow:hidden;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card h3 {
    font-size: 24px;
    color: #000000;
    margin: 10px 0 10px 0;
}

.card p {
    font-size: 18px;
    color: #000000;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.03);
}

footer {
    width: auto;
    height: 40px;
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    .card { flex: 1 1 45%; }
}

@media (min-width: 900px) {
    .card { flex: 1 1 30%; }
}

@media (min-width: 1200px) {
    .card { flex: 1 1 22%; }
}