* {
    font-family: "Outfit", sans-serif;
}

/* Cabeçalho */

header {
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

body {
    margin: 0;
    padding: 0;
    background-color: rgb(211, 210, 210);
}

/* Título */

h1 {
    font-size: 18px;
    align-self: center;
}

/* Navegação */

nav {
    margin-right: 5px;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* Container */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap:10px;
}

.card {
    margin-top: 10px;
    flex: 1 1 280px;
    max-width: 320px;
    background-color: white;
    border: solid 1px #a1a1a1;
    border-radius: 25px;
    text-align: center;
    box-shadow: #918f8f 1px 1px 1px 1px;
    overflow:hidden;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card h3 {
    font-size: 24px;
    color: #000000;
    margin: 10px 0 10px 0;
}

.card p {
    font-size: 18px;
    color: #000000;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.03);
}

footer {
    height: 40px;
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 500px) {
    .card { flex: 1 1 45%; }
}

@media (min-width: 700px) {

    header {
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        padding: 0 20px;
        height: 60px;
    }

    h1 {
        margin-left: 20px;
    }

    .menu {
        margin-right: 10px;
    }
}

@media (min-width: 900px) {
    .card { flex: 1 1 30%; }
}

@media (min-width: 1200px) {
    .card { flex: 1 1 22%; }
}