* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0;
    min-height: 100px;
    background-color: rgb(211, 210, 210);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARTÃO */
.login-container {
    width: 100%;
    max-width: 420px; /* controla tamanho em telas grandes */
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
}

/* HEADER */

header {
    text-align: center;
}

img {
    width: 220px;
    height: auto;
    border-radius: 50px;
}

/* MAIN */
main {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* INPUTS */
input {
    width: 100%;
    max-width: 260px;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* BOTÃO */
button {
    width: 100%;
    max-width: 180px;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 15px;
    margin-top: 12px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.03);
}

/* FOOTER */
footer {
    margin-top: 15px;
    font-size: 13px;
    font-style: italic;
    text-align: center;
}


@media screen and (min-width: 576px) {
   .login-container {
        margin: 30px;
    }
}

@media screen and (min-width: 768px) {
    .login-container {
        margin:30px;
    }
}

@media screen and (min-width: 992px) {
    .login-container {
        margin: 25px;
    }
}
